<h1>To Do</h1>

<app-todo (sendForm)="processTodo($event)" [localTodo]="todo"></app-todo>

<hr>
<div *ngIf="todoList.length>0">
  <h3>To Do List Added</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Due Date</th>
        <th>Task</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let t of todoList">
        <td>{{t.name}}</td>
        <td>{{t.dueDate}}</td>
        <td *ngFor="let i of t.tasks">
          <p>{{i | json}}</p>
        </td>
      </tr>
    </tbody>

  </table>
</div>
